---
import EpisodeItem from "./EpisodeItem.astro";
import { episodes } from "../../lib/rss";

console.log(episodes[0].title);
---
<ul aria-label="Episodios">
  <li class="border-b dark:border-dark-border">
    {
      episodes.map((episode) => (
        <EpisodeItem 
          title={episode.title} 
          description={episode.description} 
          image={episode.image} 
          date={episode.publishDate}
          media={episode.enclosure.url}
          duration={episode.duration}
          slug={episode.slug}
            />
      ))
    }
  </li>
</ul>
<div class="mt-8 flex justify-center pb-16">
  <button class="btn">
    <span class="rounded-full px-8 py-4 text-center text-sm text-light-text-heading dark:text-white">
       Mas episodios
    </span>
  </button>
</div>